{% extends './base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<style>
    .card{
        background: linear-gradient(145deg, #120c1a, #1f1630);
        border-radius: 12px;
        color: #fff;
        border: 1px solid #7921f4;
        transition: 0.3s ease;
    }

    .border-success{
        border-color: #7921f4 !important;
    }
    .bg-purple{
        background: linear-gradient(145deg, #231338, #291a46);
    }
</style>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card shadow-sm">
                <div class="card-header">
                    <h5 class="mb-0">Upload profile picture</h5>
                </div>
                {% include "../notification/messages.html" %}
                <div class="card-body">
                    <form method="post" class="pinner-form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <div class="mb-3">
                                <label class="form-label">Update Profile Picture</label>
                                {{ form.profile_picture }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary w-100 btn-sm fw-bold"
                            data-spinner-text="uploading..." data-spinner-class="btn-secondary w-100">
                            Upload
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}